/*colors*/
$clr-primary-g: #004225;
$clr-primary-y: #C6A622;
$clr-gold: #FFD700;
$clr-green: #00341D;
$clr-bg: #DAD7CD;
$clr-light: #FEFEFE;
$clr-dark: #000000;

/*breakpoints*/
$mobile: 480px;
$desktop: 1080px;

/*font-sizes*/
$h1: 6.4rem;
$h2: 5.2rem;
$h3: 4.8rem;
$h4: 4.0rem;
$h5: 3.6rem;
$h6: 3.2rem;
$p: 2.4rem;

/*font-weights*/
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

/*font-styles*/
$ff-bold: "Alfa Slab One", serif;
$ff-primary: "Sofia Sans", sans-serif;
$ff-cursive: "Alex Brush", cursive;